@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    background-image: url("cadastro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 450px;
    max-width: 100%;

    padding: 35px 30px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;

    backdrop-filter: blur(15px);

    color: white;

    text-align: center;
}

/* TÍTULO */
.topo {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    margin-bottom: 30px;
}

.topo a {
    color: white;
    text-decoration: none;
}

.topo i {
    font-size: 28px;
}

.topo h1 {
    font-size: 32px;
    font-weight: 600;
}

/* INFORMAÇÕES */
.info {
    width: 100%;
    text-align: center;
}

.info h3 {
    font-size: 19px;
    font-weight: 600;

    margin-top: 18px;
    margin-bottom: 5px;
}

.info p {
    font-size: 17px;
    font-weight: 400;

    margin-bottom: 5px;
}

/* BOTÕES */
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-top: 25px;
}

.botoes button {
    border: none;
    border-radius: 40px;

    padding: 10px 25px;

    background: white;
    color: #333;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
}

.botoes button:hover {
    transform: scale(1.03);
}

.informacoes {
    text-align: center;
}

.informacoes h3 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 19px;
}

.informacoes p {
    margin-bottom: 10px;
    font-size: 16px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}